 * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
 }

 .nav{
    color: red;
    font-family: 'Eater', cursive;
    font-size:3vw;
    width: 100vw;
    background-color: black;
    padding: 1rem;
    box-shadow: 0px 5px 15px red;
}

 @media screen and (max-width:499px){
.nav{
    font-size: 5vw; 

}
 }
 @media screen and (min-width:500px) and (max-width:1024px){
    .nav{
        font-size:5vw;
    }
 }