.modal {
    background: red;
    width: 50%;
    height: 50%;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 5%;    
    opacity: 1; 
      
}
li{
    margin-top:15px;
    padding: 5px;
}
input{
    margin-left: 15px;
}
.questions{
    font-family: 'Eater', cursive;
}